
*{
    color: #121212;
}


.main-grid{
    margin: 30px 0;
}

ion-img.background{
    background: #ade5f4 0 0/100% 100% no-repeat;
    border-radius: 9px;
}

.slides{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: scroll;
    grid-gap: 5px;
    margin: 20px 0;
}

.heading{
    margin-top: 30px;
    color: #5b5b5b;
}
.slides::-webkit-scrollbar{
    width: 0;
}

.picture{
    align-items: center;
}
ion-card.master-card{
    background: transparent;
    box-shadow: none;
}

.date-item{
    height: 92px;
    min-width: 82px;
    cursor: pointer;
}

.date-item.active{
    background-color: #f0fbff;
    border: 2px solid #33bde4;
}
.date-item.active h2{
    color: #33bde4;
}
.date-item.active p{
    color: #33bde4;
}

.time-item{
    color: #c1c1c1;
    font-size: 24px;
    line-height: 32px;
    min-width: 85px;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
}

.time-item.active{
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    color: #33bde4;
}

.date-time{
    padding: 5px;
}

.booking{
    font-size: 16px;
}

.check-btn{
    background-color: #33bde4;
    color: #fff;
}

.bottom-card{
    padding: 10px 0;
    position: relative;
}

.bottom-card::before{
    content: "";
    position: absolute;
    top: 29px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 2px;
    height: 65px;
    background-color: #e5e5e5;
}